<div class="row my-3">
  <ng-container *ngFor="let category of Category | keyvalue">
    <div class="col-auto">
      <button class="btn btn-primary" (click)="setFilter(category.value)">
        {{ category.key }}
      </button>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="filteredItems$ | async as items">
  <div class="row">
    <ng-container *ngFor="let item of items | sortItemsByLabel">
      <div class="col-auto mb-3">
        <div class="card">
          <img [src]="item.imageUrl" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ item.label }}</h5>
            <p class="card-text">
              <ng-container *ngFor="let category of item.categories | azSort">
                <span class="badge badge-primary mr-2">{{ category }}</span>
              </ng-container>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
